# Generic ignores
*.db
*.db-shm
*.db-wal
*.log

# Directory ignores
.cloud
.storage
./deps
./tts

# Specific file ignores
.config_entries.json
.ios.conf
.uuid
known_devices.yaml
secrets.yaml
